@use 'cores' as *;

.btn-padrao {
    background: $gradient-vertical;
    display: block;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: $text-white;
    font-weight: 600;
    text-align: center;

    &:hover {
        background: $gradient-vertical-reverse;
    }
}

@media (max-width: 62rem) {
    .btn-padrao {
        width: 100%;
    }
}